:root {
}

#MainContainer {
    align-self: flex-end;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: auto;
}

#ChoiceControls {
    align-self: flex-start;
    align-content: flex-start;
    align-items: stretch;
    min-width: 350px;
}
